* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}

html {
    font-size: 62.5%;
    background: linear-gradient(rgba(49, 49, 49, 0.5), rgba(8, 8, 8, 0.831)), url('./background.jpg') bottom center;
    background-size: cover;
}

body {
    font-family: "Inter";
    font-size: 1.6rem; /* Sets base size to 16px */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    color: white;
    font-weight: 700;
    border: .4rem dashed black;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    background: rgba(0,0,0,0,0.4);
    text-shadow: 0 0 .4rem gray;
}

kbd {
    display: block;
    font-size: 4rem;
    color: #ffc600;
}

.playing {
    transform: scale(1.1);
    border: .4rem solid #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}